
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  color: #000000;
}



.imagem-de-fundo {
  
  background-image: url('https://wallpapercave.com/wp/wp5845218.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}



.header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e2aa42,#d65e2f);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
}



.vila-icon {
  display: flex;
  display: inline-block;
  justify-content: center;

}

.vila-icon:hover {
  transform: scale(1.2);
  
}


.header li {
  padding-right: 60px;
}

img {
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.cards {
    
    margin-top: 20vh; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 15px;
  }
  
.card{
  
  background-color: rgba(0, 0, 0, 0.7); 
  background-blend-mode: multiply; 
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card img {
  width: 100px;
  height: 100px;
}
.villages {
  display: flex;
  justify-content: space-between;
}

p {
  color: white;
}

h2 {
  color: white;
}
span {
  color: white;
  max-width: 15vw;
}
  strong {
      color: white;
  }
.nav {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
}
 